:root {

  --primary-color: #29a976;
  --secondary-color: #d9e8b6;
  --accent-color: #c971ee;
  --text-color: #435958;

  --font-family: "Roboto", sans-serif;
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  margin: 0;
  background-color: var(--secondary-color);
}

h1,
h2 {
  color: var(--primary-color);
}

button {
  background-color: var(--accent-color);
  color: rgb(77, 107, 127);
  border: none;
  padding: 0.5em 1em;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: darken(var(--accent-color), 10%);
}
